<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Green Tea</li>
      <li>Hot Chocolate</li>
      <li>Ovaltine</li>
      <li>Marmite</li>
      <li>Ginger Beer</li>
      <li>add more...</li>
    </ul>
  </body>
</html>